html, body {
    width: 100%;
    background-color: #28527a;
}
h1, h2 {
    color: #f4d160;
}
h3, h4 {
    color: #8ac4d0;
}

.itemHeader {
    grid-area: header;
    height: 15%;
}

.itemMenu {
    grid-area: menu;
}

.itemMain {
    grid-area: main;
    
}

.itemFooter {
    grid-area: footer;
    height: 15%;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu main main main main main'
        'menu footer footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
}

.grid-container>div {
    text-align: center;
}

#iframe_main{
    width: 100%;
    height: 100%;
    border: none;
}

#sidebar{
    padding: 5px;
}

.referencia_bibliografica  {
    text-indent: -2em;
    margin-left: 2em;
}